{
  "openapi": "3.0.1",
  "info": {
    "title": "Eligibility API",
    "description": "https://apimarketplace.uhc.com",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://apimarketplace.uhc.com/Eligibility"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Therapy",
      "description": "REST API for Therapy Information"
    },
    {
      "name": "Vision",
      "description": "REST API for Vision Information"
    },
    {
      "name": "Eligibility (REST API for Eligibility Information)",
      "description": ""
    },
    {
      "name": "Copay (REST API for Copay Information)",
      "description": ""
    },
    {
      "name": "Coverage Attributes",
      "description": ""
    },
    {
      "name": "Detailed Benefits",
      "description": ""
    },
    {
      "name": "Language Preference",
      "description": ""
    },
    {
      "name": "Member ID Card",
      "description": ""
    },
    {
      "name": "Network Status",
      "description": ""
    },
    {
      "name": "PCP Details",
      "description": ""
    },
    {
      "name": "PCP Employer History",
      "description": ""
    },
    {
      "name": "Prior Auth",
      "description": ""
    },
    {
      "name": "Service Coordinator",
      "description": ""
    },
    {
      "name": "Eligibility REST API for Eligibility Information",
      "description": ""
    },
    {
      "name": "Extended REST API for Extended information",
      "description": ""
    },
    {
      "name": "Preferred Lab Network",
      "description": ""
    }
  ],
  "paths": {
    "/api/memberSearch/v3.0": {
      "post": {
        "tags": [
          "Eligibility REST API for Eligibility Information"
        ],
        "summary": "Member search",
        "description": "The API accepts the following search option for member retrieval: MemberIDDateOfBirth | MemberIDLastNameDateOfBirth | MemberIDFirstNameDateOfBirthMemberIDName | MemberIDNameDateOfBirth | MemberIDNamePolicyNumberDateOfBirth | NameDateOfBirth. The searchOption is a required attribute to be passed with appropriate search type values. Search dates are not mandatory and service start date should not be older than 6 years and the service end date not over 1 year. When not provided the search dates are defaulted to current date, accepted date format: yyyy-MM-dd. Transaction id not returned as we are not calling Extended",
        "operationId": "Hidden-POST-memberSearch-v3-0",
        "parameters": [
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberSearchRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EligibilityResponse"
                },
                "example": {
                  "subscriberId": "string",
                  "postalAddress": {
                    "city": "string",
                    "country": "string",
                    "state": "string",
                    "street1": "string",
                    "street2": "string",
                    "zip": "string",
                    "zip4": "string"
                  },
                  "memberInfo": {
                    "relationship": "string",
                    "firstName": "string",
                    "lastName": "string",
                    "middleName": "string",
                    "nameSuffix": "string",
                    "dob": "string",
                    "memberId": "string",
                    "genderCode": "string",
                    "members": [
                      {
                        "relationship": "string",
                        "firstName": "string",
                        "lastName": "string",
                        "middleName": "string",
                        "nameSuffix": "string",
                        "dob": "string",
                        "memberId": "string",
                        "genderCode": "string"
                      }
                    ]
                  },
                  "relationshipCode": "string",
                  "alternateId": "string",
                  "opiNtwkCode": "string",
                  "opiNtwkDesc": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or missing mandatory attributes:ELMSBR || Invalid Date format:ELMSBR || Last Date of Service must be on or after the First Date of Service.:ELMSBR || Date of Birth must be on or before the Date of Service.:ELMSBR || Start Date must be within 6 years and End date should not exceed more than 1 year:ELMSBR || Multiple Members Found. Please refine Search:AESCMM || No Members Found.:AESCND || No Policy Found:AESCNP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "string",
                  "faultCode": "string"
                }
              }
            }
          },
          "500": {
            "description": "Issue with Eligibility service:ELMSEE || AE service (Select Consumer Coverage) is down or some connectivity issue:AESCEE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "string",
                  "faultCode": "string"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "memberSearchRequest"
      }
    },
    "/api/extended/v3.0": {
      "get": {
        "tags": [
          "Extended REST API for Extended information"
        ],
        "summary": "Extended eligibility",
        "description": "API requires transactionId in order retrieve member info, the transactionId's for respective policies are generated from the Eligibility: /memberSearch API",
        "operationId": "Hidden-GET-extended-v3-0",
        "parameters": [
          {
            "name": "transactionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberSearchResponse"
                },
                "example": {
                  "subscriberId": "string",
                  "postalAddress": {
                    "city": "string",
                    "country": "string",
                    "state": "string",
                    "street1": "string",
                    "street2": "string",
                    "zip": "string",
                    "zip4": "string"
                  },
                  "memberInfo": {
                    "relationship": "string",
                    "firstName": "string",
                    "lastName": "string",
                    "middleName": "string",
                    "nameSuffix": "string",
                    "dob": "string",
                    "memberId": "string",
                    "genderCode": "string",
                    "members": [
                      {
                        "relationship": "string",
                        "firstName": "string",
                        "lastName": "string",
                        "middleName": "string",
                        "nameSuffix": "string",
                        "dob": "string",
                        "memberId": "string",
                        "genderCode": "string"
                      }
                    ]
                  },
                  "relationshipCode": "string",
                  "alternateId": "string",
                  "opiNtwkCode": "string",
                  "opiNtwkDesc": "string",
                  "ssn": "string",
                  "transactionId": "string",
                  "platform": "string",
                  "payerId": "string",
                  "policyNumber": "string",
                  "medicaidRecipientId": "string",
                  "stateOfIssueCode": "string",
                  "effectiveStartDate": "string",
                  "effectiveEndDate": "string",
                  "marketType": "string",
                  "cosmosDivision": "string",
                  "obligorId": "string",
                  "reportingCode": "string",
                  "sourceCode": "string",
                  "eligibilitySourceSystemCode": "string",
                  "claimSourceSystemCode": "string",
                  "dependentSequenceNumber": "string",
                  "productCode": "string",
                  "marketSite": "string",
                  "individualRelationshipCode": "string",
                  "sourceId": "string",
                  "xrefId": "string",
                  "xrefIdPartitionNumber": "string",
                  "benefitPlanId": "string",
                  "virtualVisits": true,
                  "planVariation": "string",
                  "productId": "string",
                  "cesGroupNumber": "string",
                  "governmentProgramCode": "string",
                  "legacyPanelNumber": "string",
                  "productType": "string",
                  "mbi": "string",
                  "coverageLevel": "string",
                  "sharedArrangement": "string",
                  "productServiceCode": "string",
                  "designatedVirtualClinicNetwork": "string",
                  "hsa": true,
                  "cdhp": true,
                  "lineOfBusiness": "string",
                  "cspLineOfBusiness": "string",
                  "policyStatus": "string",
                  "coverageType": "string",
                  "coverageTypeDesc": "string",
                  "consumerId": "string",
                  "primeDependentCode": "string",
                  "providerDiv": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Transaction Id:ELXLIT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "string",
                  "faultCode": "string"
                }
              }
            }
          },
          "500": {
            "description": "Issue with Extended service:ELXLEE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "string",
                  "faultCode": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/extended/v2.0": {
      "get": {
        "tags": [
          "Extended REST API for Extended information"
        ],
        "summary": "Extended eligibility",
        "description": "API requires transactionId in order retrieve member info, the transactionId's for respective policies are generated from the Eligibility: /memberSearch API",
        "operationId": "Hidden-GET-extended-v2-0",
        "parameters": [
          {
            "name": "transactionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedResponse"
                },
                "example": {
                  "memberDetails": {
                    "subscriberId": "string",
                    "postalAddress": {
                      "city": "string",
                      "country": "string",
                      "state": "string",
                      "street1": "string",
                      "street2": "string",
                      "zip": "string",
                      "zip4": "string"
                    },
                    "memberInfo": {
                      "dob": "string",
                      "dos": "string",
                      "firstName": "string",
                      "genderCode": "string",
                      "lastName": "string",
                      "memberID": "string",
                      "members": [
                        {
                          "dob": "string",
                          "dos": "string",
                          "firstName": "string",
                          "genderCode": "string",
                          "lastName": "string",
                          "memberID": "string",
                          "middleName": "string",
                          "nameSuffix": "string",
                          "relationship": "string"
                        }
                      ],
                      "middleName": "string",
                      "nameSuffix": "string",
                      "relationship": "string"
                    },
                    "relationshipCode": "string",
                    "alternateId": "string",
                    "opiNtwkCode": "string",
                    "opiNtwkDesc": "string",
                    "ssn": "string",
                    "transactionId": "string",
                    "platform": "string",
                    "payerId": "string",
                    "policyNumber": "string",
                    "medicaidRecipientId": "string",
                    "stateOfIssueCode": "string",
                    "effectiveStartDate": "string",
                    "effectiveEndDate": "string",
                    "marketType": "string",
                    "cosmosDivision": "string",
                    "obligorId": "string",
                    "reportingCode": "string",
                    "sourceCode": "string",
                    "eligibilitySourceSystemCode": "string",
                    "claimSourceSystemCode": "string",
                    "dependentSequenceNumber": "string",
                    "productCode": "string",
                    "marketSite": "string",
                    "individualRelationshipCode": "string",
                    "sourceId": "string",
                    "xrefId": "string",
                    "xrefIdPartitionNumber": "string",
                    "benefitPlanId": "string",
                    "virtualVisits": true,
                    "planVariation": "string",
                    "productId": "string",
                    "cesGroupNumber": "string",
                    "governmentProgramCode": "string",
                    "legacyPanelNumber": "string",
                    "productType": "string",
                    "mbi": "string",
                    "coverageLevel": "string",
                    "sharedArrangement": "string",
                    "productServiceCode": "string",
                    "designatedVirtualClinicNetwork": "string",
                    "hsa": true,
                    "cdhp": true,
                    "lineOfBusiness": "string",
                    "cspLineOfBusiness": "string",
                    "policyStatus": "string",
                    "coverageType": "string",
                    "coverageTypeDesc": "string",
                    "consumerId": "string",
                    "primeDependentCode": "string",
                    "providerDiv": "string"
                  },
                  "additionalMemberDetails": {
                    "fundingType": "string",
                    "cobUpdateInformation": {
                      "cobLastUpdate": "string",
                      "cobUpdateMessage": "string"
                    },
                    "additionalCoverage": [
                      {
                        "city": "string",
                        "cobMemberId": "string",
                        "cobPolicyGroupNumber": "string",
                        "cobPolicyHolderName": "string",
                        "cobPolicyNumber": "string",
                        "coverageType": "string",
                        "description": "string",
                        "notes": "string",
                        "payerName": "string",
                        "phoneNumber": "string",
                        "policyEffectiveEndDate": "string",
                        "policyEffectiveStartDate": "string",
                        "primaryGroupIndicator": "string",
                        "state": "string",
                        "street1": "string",
                        "zip": "string"
                      }
                    ],
                    "pcpDetails": {
                      "acoNetwork": "string",
                      "affiliateHospitalName": "string",
                      "pcpEndDate": "string",
                      "pcpSpeciality": "string",
                      "pcpStartDate": "string",
                      "providerGroupName": "string",
                      "providerNPI": "string",
                      "providerTIN": "string"
                    },
                    "pcpHistoryList": [
                      {
                        "acoNetwork": "string",
                        "affiliateHospitalName": "string",
                        "pcpEndDate": "string",
                        "pcpSpeciality": "string",
                        "pcpStartDate": "string",
                        "providerGroupName": "string",
                        "providerNPI": "string",
                        "providerTIN": "string"
                      }
                    ],
                    "primaryPayer": "string",
                    "payerInfo": {
                      "payerAddress": {
                        "city": "string",
                        "countryCode": "string",
                        "description": "string",
                        "state": "string",
                        "street1": "string",
                        "street2": "string",
                        "street3": "string",
                        "zip": "string",
                        "zip4": "string"
                      },
                      "payerName": "string",
                      "policyEffectiveEndDate": "string",
                      "policyEffectiveStartDate": "string",
                      "policyNumber": "string"
                    },
                    "serviceBenefitDetails": [
                      {
                        "serviceBenefitDescription": "string",
                        "serviceBenefitNotes": "string",
                        "serviceBenefitType": "string"
                      }
                    ],
                    "nonEmbeddedFamilyStatusIndicator": "string",
                    "medicareEntitlementReason": "string",
                    "tciTableNumber": "string",
                    "insuranceTypeCode": "string",
                    "planFeatureCode": "string",
                    "nhpIndicator": "string",
                    "referralRequired": true,
                    "serviceBenefitDescription": [
                      "string"
                    ],
                    "serviceBenefitNotes": [
                      "string"
                    ],
                    "unitedHealthPremiumDesignation": "string",
                    "homeTelephoneNumber": "string",
                    "rulePackageKey": "string",
                    "umDelegationFlag": "string",
                    "medicareIndicator": "string",
                    "pcid": "string",
                    "groupPanelNumber": "string",
                    "groupNumber": "string",
                    "groupName": "string",
                    "siteOfCareRadiology": "string",
                    "benefitPackageLogNumber": "string",
                    "legalEntityCode": "string",
                    "planLevelBenefits": {
                      "combinedInnDeductibleIndicator": "string",
                      "combinedInnOopIndicator": "string",
                      "combinedOonDeductibleIndicator": "string",
                      "combinedOonOopIndicator": "string",
                      "copayMaximumAmount": "string",
                      "crossApplyCopayIndicator": "string",
                      "crossApplyCoreIndicator": "string",
                      "crossApplyOopIndicator": "string",
                      "lifetimeMaximumExists": "string",
                      "medicalLifetimeMaximum": "string",
                      "medicalLifetimeMaximumApplied": "string",
                      "medicalLifetimeMaximumRemaining": "string"
                    },
                    "siteOfCareGeneticTest": "string",
                    "ddpIndicator": "string",
                    "benefitSet": [
                      {
                        "benefitPeriod": {
                          "end": "string",
                          "endCalendar": {
                            "day": 0,
                            "eon": 0,
                            "eonAndYear": 0,
                            "fractionalSecond": 0,
                            "hour": 0,
                            "millisecond": 0,
                            "minute": 0,
                            "month": 0,
                            "second": 0,
                            "timezone": 0,
                            "valid": true,
                            "xmlschemaType": {
                              "localPart": "string",
                              "namespaceURI": "string",
                              "prefix": "string"
                            },
                            "year": 0
                          },
                          "start": "string",
                          "startCalendar": {
                            "day": 0,
                            "eon": 0,
                            "eonAndYear": 0,
                            "fractionalSecond": 0,
                            "hour": 0,
                            "millisecond": 0,
                            "minute": 0,
                            "month": 0,
                            "second": 0,
                            "timezone": 0,
                            "valid": true,
                            "xmlschemaType": {
                              "localPart": "string",
                              "namespaceURI": "string",
                              "prefix": "string"
                            },
                            "year": 0
                          }
                        },
                        "deductibleTimePeriodQualifier": "string",
                        "networkGroupName": "string",
                        "oopTimePeriodQualifier": "string",
                        "planLevelBenefitSet": {
                          "annualRcIndicator": "string",
                          "capitationIndicator": "string",
                          "coInsuranceCopayAppliesIndicator": "string",
                          "combinedBucket": [
                            {
                              "combinedLimitRule": "string",
                              "serviceCode": "string",
                              "therapyType": "string"
                            }
                          ],
                          "combinedInnDeductibleIndicator": "string",
                          "combinedInnOopIndicator": "string",
                          "combinedOonDeductibleIndicator": "string",
                          "combinedOonOopIndicator": "string",
                          "contractState": "string",
                          "copayMaximumAmount": "string",
                          "crossApplyCopayIndicator": "string",
                          "crossApplyCoreIndicator": "string",
                          "crossApplyOopIndicator": "string",
                          "ddpIndicator": "string",
                          "deductibleSpecialProcessingCode": "string",
                          "defaultRcPercent": "string",
                          "delegatedEntityFlag": "string",
                          "delegatedEntityQualifier": "string",
                          "diseaseStateTable": {
                            "diseaseStateCode": [
                              "string"
                            ],
                            "diseaseStateTableId": "string"
                          },
                          "emergentWrapIndicator": "string",
                          "facilitySharedSavingsIndicator": "string",
                          "familyCoInsuranceAmount": "string",
                          "familyCoInsuranceTier1Amount": "string",
                          "familyTextNumberOfMembers": "string",
                          "hdhpIndicator": "string",
                          "indemnityIndicator": "string",
                          "individualCoInsuranceMaximumAmount": "string",
                          "individualCoInsuranceMaximumIndicator": "string",
                          "individualCoInsuranceMaximumPeriod": "string",
                          "individualCoInsuranceTier1Amount": "string",
                          "individualCoreOopRule": "string",
                          "individualPeriod": "string",
                          "insuranceTypeCode": "string",
                          "insuranceTypeDescription": "string",
                          "ltcIndicator": "string",
                          "marketTypeCode": "string",
                          "memberNetworkIndicator": "string",
                          "mnrpIndicator": "string",
                          "mnrpPercentage": "string",
                          "nhpNetworkFlexIndicator": "string",
                          "nonEmbeddedFamilyStatusIndicator": "string",
                          "nonEmbeddedMaximumCopayIndicator": "string",
                          "nonEmbeddedMaximumCoreIndicator": "string",
                          "nonEmbeddedMaximumDeductableIndicator": "string",
                          "nonEmbeddedMaximumOopIndicator": "string",
                          "ohbsProductCode": "string",
                          "physicianSharedSavingsIndicator": "string",
                          "planBenefitLevel": [
                            {
                              "navigateCompassIndicator": "string",
                              "networkStatus": "string",
                              "planIndicator": "string",
                              "planLevelCoinsurance": {
                                "coinsurance": "string",
                                "coinsuranceMaximum": "string",
                                "coinsuranceMinimum": "string"
                              },
                              "planLevelDeductible": {
                                "familyDeductible": "string",
                                "familyDeductibleMaximumIndicator": "string",
                                "familyDeductibleYtd": "string",
                                "individualDeductible": "string",
                                "individualDeductibleYtd": "string",
                                "planLevelIndividualDeductibleDescription": "string",
                                "planLevelIndividualDeductibleNetworkType": "string",
                                "suppressDecuctible": "string"
                              },
                              "planLevelOop": {
                                "familyCopayMax": "string",
                                "familyCopayYtd": "string",
                                "familyCore": "string",
                                "familyCoreYtd": "string",
                                "familyOop": "string",
                                "familyOopYtd": "string",
                                "individualCopayMax": "string",
                                "individualCopayYtd": "string",
                                "individualCore": "string",
                                "individualCoreYtd": "string",
                                "individualOop": "string",
                                "individualOopYtd": "string",
                                "suppressOop": "string"
                              },
                              "reverseTieredIndicator": "string",
                              "tier": "string"
                            }
                          ],
                          "planBenefitSetInfo": [
                            {
                              "description": "string",
                              "hierarchy": "string",
                              "planLevelBenefitSetCode": "string",
                              "premiumDesignationIndicator": "string",
                              "referralObtainedRequiredIndicator": "string",
                              "serviceCodeSetSpecialist": "string",
                              "tierLevel": "string"
                            }
                          ],
                          "planFeaturesTable": [
                            {
                              "planFeature": {
                                "codeDesc": "string",
                                "codeValue": "string"
                              }
                            }
                          ],
                          "planLevelLifetime": {
                            "medicalLifetimeMaximum": "string",
                            "medicalLifetimeMaximumApplied": "string",
                            "medicalLifetimeMaximumRemaining": "string",
                            "tier1LifetimeMaximum": "string"
                          },
                          "plnIndicator": "string",
                          "preferredNetworkIndicator": "string",
                          "prorateReasonCode": "string",
                          "providerContractBasedTieringIndicator": "string",
                          "rulePackageKey": "string",
                          "specialProcessingCode": "string",
                          "specialistReferralRequiredIndicator": "string",
                          "tciTableNumber": "string",
                          "topsProductCode": "string",
                          "unitedHealthPremiumDesignation": "string"
                        },
                        "procedureLevelBenefitSet": {
                          "procedureBenefits": [
                            {
                              "procedureBenefitMessages": [
                                "string"
                              ],
                              "procedureCode": "string",
                              "serviceBenefitLevel": [
                                {
                                  "accumulateToCoreOopIndicator": "string",
                                  "accumulateToOopIndicator": "string",
                                  "additionalServiceLimits": {
                                    "additionalServiceLimitsMessages": [
                                      "string"
                                    ],
                                    "authorizationRequired": "string",
                                    "deductiblePeriod": "string",
                                    "familyLimitationDollarLimitPerPeriod": "string",
                                    "familyLimitationDollarLimitRemaining": "string",
                                    "familyLimitationDollarLimitYtd": "string",
                                    "familyLimitationOccurrencesPerPeriod": "string",
                                    "familyLimitationOccurrencesYtd": "string",
                                    "familyLimitationsOccurrencesRemaining": "string",
                                    "individualLimitationDollarLimitRemaining": "string",
                                    "individualLimitationDollarLimitYtd": "string",
                                    "individualLimitationOccurrencesRemaining": "string",
                                    "individualLimitationOccurrencesYtd": "string",
                                    "limitationAdditionalCoveredDollarPerOccurence": "string",
                                    "limitationCoveredAmountCode": "string",
                                    "limitationCoveredDollarPerOccurrence": "string",
                                    "limitationDollarLimitPerPeriod": "string",
                                    "limitationOccurrencesPerPeriod": "string",
                                    "limitationPeriod": "string",
                                    "limitationTimeframe": "string",
                                    "limitationType": "string",
                                    "nonTherapyCombinedIndicator": "string",
                                    "occurrencesPerPeriod": [
                                      {
                                        "accumulatedVisits": "string",
                                        "calcCombined": {
                                          "code": [
                                            "string"
                                          ]
                                        },
                                        "combinedCategory": "string",
                                        "combinedIndicator": "string",
                                        "limitationOccurrencesPerPeriod": "string",
                                        "limitationTypeIndicator": "string",
                                        "mskAccumulatedVisits": "string"
                                      }
                                    ],
                                    "physicalMedicineSourceCode": "string",
                                    "predeductibleMaximumIndicator": "string"
                                  },
                                  "benefitStatus": "string",
                                  "copayCoreIndicator": "string",
                                  "copayCoreOopIndicator": "string",
                                  "copayOopIndicator": "string",
                                  "networkStatus": "string",
                                  "plnIndicator": "string",
                                  "providerTier": "string",
                                  "quantityQualifier": {
                                    "limitationType": "string",
                                    "limitationValue": "string"
                                  },
                                  "referralObtainedCoinsIndicator": "string",
                                  "referralObtainedCopayIndicator": "string",
                                  "referralObtainedFamilyDeductibleIndicator": "string",
                                  "referralObtainedIndividualDeductibleIndicator": "string",
                                  "referralObtainedRequiredIndicator": "string",
                                  "serviceLevelBenefitSetCode": "string",
                                  "serviceLevelCoinsurance": [
                                    {
                                      "coinsurance": "string",
                                      "coinsuranceBase": "string",
                                      "coinsuranceMaximum": "string",
                                      "coinsuranceMinimum": "string",
                                      "coinsuranceTier": {
                                        "tierId": "string",
                                        "timeframePeriodEnd": "string",
                                        "timeframePeriodStart": "string",
                                        "timeframeQualifier": "string"
                                      },
                                      "postDollarLimitCoinsurancePercentage": "string",
                                      "timeframeQualifier": "string"
                                    }
                                  ],
                                  "serviceLevelCopay": [
                                    {
                                      "copayAmount": "string",
                                      "copayIsWaived": "string",
                                      "copayTier": {
                                        "tierId": "string",
                                        "timeframePeriodEnd": "string",
                                        "timeframePeriodStart": "string",
                                        "timeframeQualifier": "string"
                                      },
                                      "timeframeQualifier": "string"
                                    }
                                  ],
                                  "serviceLevelDeductible": {
                                    "familyDeductible": "string",
                                    "familyDeductibleYtd": "string",
                                    "individualDeductible": "string",
                                    "individualDeductibleYtd": "string",
                                    "perOccurrenceDeductible": "string",
                                    "planDeductibleApplyIndicator": "string"
                                  },
                                  "serviceLevelLifetime": {
                                    "familyLifetimeMaximumAmount": "string",
                                    "familyLifetimeMaximumCount": "string",
                                    "familyLifetimeRemainingAmount": "string",
                                    "familyLifetimeRemainingCount": "string",
                                    "familyLifetimeToDateAmount": "string",
                                    "familyLifetimeToDateCount": "string",
                                    "individualLifetimeRemainingAmount": "string",
                                    "individualLifetimeRemainingCount": "string",
                                    "individualLifetimeToDateAmount": "string",
                                    "individualLifetimeToDateCount": "string",
                                    "lifetimeMaximumAmount": "string",
                                    "lifetimeMaximumCount": "string"
                                  },
                                  "tier": "string",
                                  "tierDescription": "string"
                                }
                              ]
                            }
                          ]
                        },
                        "serviceLevelBenefitSet": {
                          "mentalHealthBenefits": {
                            "psychiatricCalendarYearConfinementMax": "string",
                            "psychiatricCalendarYearMax": "string",
                            "psychiatricCalendarYearNonConfinementMax": "string",
                            "psychiatricLifetimeConfinementMaximum": "string",
                            "psychiatricLifetimeMax": "string",
                            "psychiatricLifetimeNonConfinementMaximum": "string"
                          },
                          "serviceBenefit": [
                            {
                              "causeCode": "string",
                              "hipaaServiceCategoryCode": "string",
                              "hipaaServiceTypeCode": "string",
                              "level": "string",
                              "placeOfService": "string",
                              "reverseTieredIndicator": "string",
                              "serviceBenefitLevel": [
                                {
                                  "accumulateToCoreOopIndicator": "string",
                                  "accumulateToOopIndicator": "string",
                                  "additionalServiceLimits": {
                                    "additionalServiceLimitsMessages": [
                                      "string"
                                    ],
                                    "authorizationRequired": "string",
                                    "deductiblePeriod": "string",
                                    "familyLimitationDollarLimitPerPeriod": "string",
                                    "familyLimitationDollarLimitRemaining": "string",
                                    "familyLimitationDollarLimitYtd": "string",
                                    "familyLimitationOccurrencesPerPeriod": "string",
                                    "familyLimitationOccurrencesYtd": "string",
                                    "familyLimitationsOccurrencesRemaining": "string",
                                    "individualLimitationDollarLimitRemaining": "string",
                                    "individualLimitationDollarLimitYtd": "string",
                                    "individualLimitationOccurrencesRemaining": "string",
                                    "individualLimitationOccurrencesYtd": "string",
                                    "limitationAdditionalCoveredDollarPerOccurence": "string",
                                    "limitationCoveredAmountCode": "string",
                                    "limitationCoveredDollarPerOccurrence": "string",
                                    "limitationDollarLimitPerPeriod": "string",
                                    "limitationOccurrencesPerPeriod": "string",
                                    "limitationPeriod": "string",
                                    "limitationTimeframe": "string",
                                    "limitationType": "string",
                                    "nonTherapyCombinedIndicator": "string",
                                    "occurrencesPerPeriod": [
                                      {
                                        "accumulatedVisits": "string",
                                        "calcCombined": {
                                          "code": [
                                            "string"
                                          ]
                                        },
                                        "combinedCategory": "string",
                                        "combinedIndicator": "string",
                                        "limitationOccurrencesPerPeriod": "string",
                                        "limitationTypeIndicator": "string",
                                        "mskAccumulatedVisits": "string"
                                      }
                                    ],
                                    "physicalMedicineSourceCode": "string",
                                    "predeductibleMaximumIndicator": "string"
                                  },
                                  "benefitStatus": "string",
                                  "copayCoreIndicator": "string",
                                  "copayCoreOopIndicator": "string",
                                  "copayOopIndicator": "string",
                                  "networkStatus": "string",
                                  "plnIndicator": "string",
                                  "providerTier": "string",
                                  "quantityQualifier": {
                                    "limitationType": "string",
                                    "limitationValue": "string"
                                  },
                                  "referralObtainedCoinsIndicator": "string",
                                  "referralObtainedCopayIndicator": "string",
                                  "referralObtainedFamilyDeductibleIndicator": "string",
                                  "referralObtainedIndividualDeductibleIndicator": "string",
                                  "referralObtainedRequiredIndicator": "string",
                                  "serviceLevelBenefitSetCode": "string",
                                  "serviceLevelCoinsurance": [
                                    {
                                      "coinsurance": "string",
                                      "coinsuranceBase": "string",
                                      "coinsuranceMaximum": "string",
                                      "coinsuranceMinimum": "string",
                                      "coinsuranceTier": {
                                        "tierId": "string",
                                        "timeframePeriodEnd": "string",
                                        "timeframePeriodStart": "string",
                                        "timeframeQualifier": "string"
                                      },
                                      "postDollarLimitCoinsurancePercentage": "string",
                                      "timeframeQualifier": "string"
                                    }
                                  ],
                                  "serviceLevelCopay": [
                                    {
                                      "copayAmount": "string",
                                      "copayIsWaived": "string",
                                      "copayTier": {
                                        "tierId": "string",
                                        "timeframePeriodEnd": "string",
                                        "timeframePeriodStart": "string",
                                        "timeframeQualifier": "string"
                                      },
                                      "timeframeQualifier": "string"
                                    }
                                  ],
                                  "serviceLevelDeductible": {
                                    "familyDeductible": "string",
                                    "familyDeductibleYtd": "string",
                                    "individualDeductible": "string",
                                    "individualDeductibleYtd": "string",
                                    "perOccurrenceDeductible": "string",
                                    "planDeductibleApplyIndicator": "string"
                                  },
                                  "serviceLevelLifetime": {
                                    "familyLifetimeMaximumAmount": "string",
                                    "familyLifetimeMaximumCount": "string",
                                    "familyLifetimeRemainingAmount": "string",
                                    "familyLifetimeRemainingCount": "string",
                                    "familyLifetimeToDateAmount": "string",
                                    "familyLifetimeToDateCount": "string",
                                    "individualLifetimeRemainingAmount": "string",
                                    "individualLifetimeRemainingCount": "string",
                                    "individualLifetimeToDateAmount": "string",
                                    "individualLifetimeToDateCount": "string",
                                    "lifetimeMaximumAmount": "string",
                                    "lifetimeMaximumCount": "string"
                                  },
                                  "tier": "string",
                                  "tierDescription": "string"
                                }
                              ],
                              "serviceBenefitMessages": [
                                "string"
                              ],
                              "serviceCodeDescription": "string",
                              "serviceCodeQualifier": "string",
                              "slotTableNumber": "string",
                              "softLimitIndicator": "string",
                              "tierOverflow": "string",
                              "topsServiceCode": "string",
                              "vendorName": "string"
                            }
                          ]
                        },
                        "timePeriodQualifier": "string",
                        "umDelegationFlag": "string"
                      }
                    ],
                    "languagePreference": {
                      "eligibleForLanguageAssistance": "string",
                      "verbalLanguagePreference": "string",
                      "writtenLanguagePreference": "string"
                    },
                    "individualIdentifier": "string",
                    "providerId": "string",
                    "benefitBundleOptionId": "string",
                    "networkId": "string",
                    "benefitPlanIds": [
                      "string"
                    ],
                    "networkIds": [
                      "string"
                    ],
                    "networkScheduleIds": [
                      "string"
                    ],
                    "benefitServiceArea": "string",
                    "planType": "string",
                    "enrolleeIdentifier": "string",
                    "subscriberIdentifier": "string",
                    "contractStartDate": "string",
                    "contractEndDate": "string",
                    "qualityProviderTierRuleId": "string",
                    "placeOfServiceDifferentialIndicator": true,
                    "bookOfBusinessTypeCode": "string"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content - In this scenario the additionalMemberDetails section will be null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendedResponse"
                },
                "example": {
                  "memberDetails": {
                    "subscriberId": "string",
                    "postalAddress": {
                      "city": "string",
                      "country": "string",
                      "state": "string",
                      "street1": "string",
                      "street2": "string",
                      "zip": "string",
                      "zip4": "string"
                    },
                    "memberInfo": {
                      "dob": "string",
                      "dos": "string",
                      "firstName": "string",
                      "genderCode": "string",
                      "lastName": "string",
                      "memberID": "string",
                      "members": [
                        {
                          "dob": "string",
                          "dos": "string",
                          "firstName": "string",
                          "genderCode": "string",
                          "lastName": "string",
                          "memberID": "string",
                          "middleName": "string",
                          "nameSuffix": "string",
                          "relationship": "string"
                        }
                      ],
                      "middleName": "string",
                      "nameSuffix": "string",
                      "relationship": "string"
                    },
                    "relationshipCode": "string",
                    "alternateId": "string",
                    "opiNtwkCode": "string",
                    "opiNtwkDesc": "string",
                    "ssn": "string",
                    "transactionId": "string",
                    "platform": "string",
                    "payerId": "string",
                    "policyNumber": "string",
                    "medicaidRecipientId": "string",
                    "stateOfIssueCode": "string",
                    "effectiveStartDate": "string",
                    "effectiveEndDate": "string",
                    "marketType": "string",
                    "cosmosDivision": "string",
                    "obligorId": "string",
                    "reportingCode": "string",
                    "sourceCode": "string",
                    "eligibilitySourceSystemCode": "string",
                    "claimSourceSystemCode": "string",
                    "dependentSequenceNumber": "string",
                    "productCode": "string",
                    "marketSite": "string",
                    "individualRelationshipCode": "string",
                    "sourceId": "string",
                    "xrefId": "string",
                    "xrefIdPartitionNumber": "string",
                    "benefitPlanId": "string",
                    "virtualVisits": true,
                    "planVariation": "string",
                    "productId": "string",
                    "cesGroupNumber": "string",
                    "governmentProgramCode": "string",
                    "legacyPanelNumber": "string",
                    "productType": "string",
                    "mbi": "string",
                    "coverageLevel": "string",
                    "sharedArrangement": "string",
                    "productServiceCode": "string",
                    "designatedVirtualClinicNetwork": "string",
                    "hsa": true,
                    "cdhp": true,
                    "lineOfBusiness": "string",
                    "cspLineOfBusiness": "string",
                    "policyStatus": "string",
                    "coverageType": "string",
                    "coverageTypeDesc": "string",
                    "consumerId": "string",
                    "primeDependentCode": "string",
                    "providerDiv": "string"
                  },
                  "additionalMemberDetails": {
                    "fundingType": "string",
                    "cobUpdateInformation": {
                      "cobLastUpdate": "string",
                      "cobUpdateMessage": "string"
                    },
                    "additionalCoverage": [
                      {
                        "city": "string",
                        "cobMemberId": "string",
                        "cobPolicyGroupNumber": "string",
                        "cobPolicyHolderName": "string",
                        "cobPolicyNumber": "string",
                        "coverageType": "string",
                        "description": "string",
                        "notes": "string",
                        "payerName": "string",
                        "phoneNumber": "string",
                        "policyEffectiveEndDate": "string",
                        "policyEffectiveStartDate": "string",
                        "primaryGroupIndicator": "string",
                        "state": "string",
                        "street1": "string",
                        "zip": "string"
                      }
                    ],
                    "pcpDetails": {
                      "acoNetwork": "string",
                      "affiliateHospitalName": "string",
                      "pcpEndDate": "string",
                      "pcpSpeciality": "string",
                      "pcpStartDate": "string",
                      "providerGroupName": "string",
                      "providerNPI": "string",
                      "providerTIN": "string"
                    },
                    "pcpHistoryList": [
                      {
                        "acoNetwork": "string",
                        "affiliateHospitalName": "string",
                        "pcpEndDate": "string",
                        "pcpSpeciality": "string",
                        "pcpStartDate": "string",
                        "providerGroupName": "string",
                        "providerNPI": "string",
                        "providerTIN": "string"
                      }
                    ],
                    "primaryPayer": "string",
                    "payerInfo": {
                      "payerAddress": {
                        "city": "string",
                        "countryCode": "string",
                        "description": "string",
                        "state": "string",
                        "street1": "string",
                        "street2": "string",
                        "street3": "string",
                        "zip": "string",
                        "zip4": "string"
                      },
                      "payerName": "string",
                      "policyEffectiveEndDate": "string",
                      "policyEffectiveStartDate": "string",
                      "policyNumber": "string"
                    },
                    "serviceBenefitDetails": [
                      {
                        "serviceBenefitDescription": "string",
                        "serviceBenefitNotes": "string",
                        "serviceBenefitType": "string"
                      }
                    ],
                    "nonEmbeddedFamilyStatusIndicator": "string",
                    "medicareEntitlementReason": "string",
                    "tciTableNumber": "string",
                    "insuranceTypeCode": "string",
                    "planFeatureCode": "string",
                    "nhpIndicator": "string",
                    "referralRequired": true,
                    "serviceBenefitDescription": [
                      "string"
                    ],
                    "serviceBenefitNotes": [
                      "string"
                    ],
                    "unitedHealthPremiumDesignation": "string",
                    "homeTelephoneNumber": "string",
                    "rulePackageKey": "string",
                    "umDelegationFlag": "string",
                    "medicareIndicator": "string",
                    "pcid": "string",
                    "groupPanelNumber": "string",
                    "groupNumber": "string",
                    "groupName": "string",
                    "siteOfCareRadiology": "string",
                    "benefitPackageLogNumber": "string",
                    "legalEntityCode": "string",
                    "planLevelBenefits": {
                      "combinedInnDeductibleIndicator": "string",
                      "combinedInnOopIndicator": "string",
                      "combinedOonDeductibleIndicator": "string",
                      "combinedOonOopIndicator": "string",
                      "copayMaximumAmount": "string",
                      "crossApplyCopayIndicator": "string",
                      "crossApplyCoreIndicator": "string",
                      "crossApplyOopIndicator": "string",
                      "lifetimeMaximumExists": "string",
                      "medicalLifetimeMaximum": "string",
                      "medicalLifetimeMaximumApplied": "string",
                      "medicalLifetimeMaximumRemaining": "string"
                    },
                    "siteOfCareGeneticTest": "string",
                    "ddpIndicator": "string",
                    "benefitSet": [
                      {
                        "benefitPeriod": {
                          "end": "string",
                          "endCalendar": {
                            "day": 0,
                            "eon": 0,
                            "eonAndYear": 0,
                            "fractionalSecond": 0,
                            "hour": 0,
                            "millisecond": 0,
                            "minute": 0,
                            "month": 0,
                            "second": 0,
                            "timezone": 0,
                            "valid": true,
                            "xmlschemaType": {
                              "localPart": "string",
                              "namespaceURI": "string",
                              "prefix": "string"
                            },
                            "year": 0
                          },
                          "start": "string",
                          "startCalendar": {
                            "day": 0,
                            "eon": 0,
                            "eonAndYear": 0,
                            "fractionalSecond": 0,
                            "hour": 0,
                            "millisecond": 0,
                            "minute": 0,
                            "month": 0,
                            "second": 0,
                            "timezone": 0,
                            "valid": true,
                            "xmlschemaType": {
                              "localPart": "string",
                              "namespaceURI": "string",
                              "prefix": "string"
                            },
                            "year": 0
                          }
                        },
                        "deductibleTimePeriodQualifier": "string",
                        "networkGroupName": "string",
                        "oopTimePeriodQualifier": "string",
                        "planLevelBenefitSet": {
                          "annualRcIndicator": "string",
                          "capitationIndicator": "string",
                          "coInsuranceCopayAppliesIndicator": "string",
                          "combinedBucket": [
                            {
                              "combinedLimitRule": "string",
                              "serviceCode": "string",
                              "therapyType": "string"
                            }
                          ],
                          "combinedInnDeductibleIndicator": "string",
                          "combinedInnOopIndicator": "string",
                          "combinedOonDeductibleIndicator": "string",
                          "combinedOonOopIndicator": "string",
                          "contractState": "string",
                          "copayMaximumAmount": "string",
                          "crossApplyCopayIndicator": "string",
                          "crossApplyCoreIndicator": "string",
                          "crossApplyOopIndicator": "string",
                          "ddpIndicator": "string",
                          "deductibleSpecialProcessingCode": "string",
                          "defaultRcPercent": "string",
                          "delegatedEntityFlag": "string",
                          "delegatedEntityQualifier": "string",
                          "diseaseStateTable": {
                            "diseaseStateCode": [
                              "string"
                            ],
                            "diseaseStateTableId": "string"
                          },
                          "emergentWrapIndicator": "string",
                          "facilitySharedSavingsIndicator": "string",
                          "familyCoInsuranceAmount": "string",
                          "familyCoInsuranceTier1Amount": "string",
                          "familyTextNumberOfMembers": "string",
                          "hdhpIndicator": "string",
                          "indemnityIndicator": "string",
                          "individualCoInsuranceMaximumAmount": "string",
                          "individualCoInsuranceMaximumIndicator": "string",
                          "individualCoInsuranceMaximumPeriod": "string",
                          "individualCoInsuranceTier1Amount": "string",
                          "individualCoreOopRule": "string",
                          "individualPeriod": "string",
                          "insuranceTypeCode": "string",
                          "insuranceTypeDescription": "string",
                          "ltcIndicator": "string",
                          "marketTypeCode": "string",
                          "memberNetworkIndicator": "string",
                          "mnrpIndicator": "string",
                          "mnrpPercentage": "string",
                          "nhpNetworkFlexIndicator": "string",
                          "nonEmbeddedFamilyStatusIndicator": "string",
                          "nonEmbeddedMaximumCopayIndicator": "string",
                          "nonEmbeddedMaximumCoreIndicator": "string",
                          "nonEmbeddedMaximumDeductableIndicator": "string",
                          "nonEmbeddedMaximumOopIndicator": "string",
                          "ohbsProductCode": "string",
                          "physicianSharedSavingsIndicator": "string",
                          "planBenefitLevel": [
                            {
                              "navigateCompassIndicator": "string",
                              "networkStatus": "string",
                              "planIndicator": "string",
                              "planLevelCoinsurance": {
                                "coinsurance": "string",
                                "coinsuranceMaximum": "string",
                                "coinsuranceMinimum": "string"
                              },
                              "planLevelDeductible": {
                                "familyDeductible": "string",
                                "familyDeductibleMaximumIndicator": "string",
                                "familyDeductibleYtd": "string",
                                "individualDeductible": "string",
                                "individualDeductibleYtd": "string",
                                "planLevelIndividualDeductibleDescription": "string",
                                "planLevelIndividualDeductibleNetworkType": "string",
                                "suppressDecuctible": "string"
                              },
                              "planLevelOop": {
                                "familyCopayMax": "string",
                                "familyCopayYtd": "string",
                                "familyCore": "string",
                                "familyCoreYtd": "string",
                                "familyOop": "string",
                                "familyOopYtd": "string",
                                "individualCopayMax": "string",
                                "individualCopayYtd": "string",
                                "individualCore": "string",
                                "individualCoreYtd": "string",
                                "individualOop": "string",
                                "individualOopYtd": "string",
                                "suppressOop": "string"
                              },
                              "reverseTieredIndicator": "string",
                              "tier": "string"
                            }
                          ],
                          "planBenefitSetInfo": [
                            {
                              "description": "string",
                              "hierarchy": "string",
                              "planLevelBenefitSetCode": "string",
                              "premiumDesignationIndicator": "string",
                              "referralObtainedRequiredIndicator": "string",
                              "serviceCodeSetSpecialist": "string",
                              "tierLevel": "string"
                            }
                          ],
                          "planFeaturesTable": [
                            {
                              "planFeature": {
                                "codeDesc": "string",
                                "codeValue": "string"
                              }
                            }
                          ],
                          "planLevelLifetime": {
                            "medicalLifetimeMaximum": "string",
                            "medicalLifetimeMaximumApplied": "string",
                            "medicalLifetimeMaximumRemaining": "string",
                            "tier1LifetimeMaximum": "string"
                          },
                          "plnIndicator": "string",
                          "preferredNetworkIndicator": "string",
                          "prorateReasonCode": "string",
                          "providerContractBasedTieringIndicator": "string",
                          "rulePackageKey": "string",
                          "specialProcessingCode": "string",
                          "specialistReferralRequiredIndicator": "string",
                          "tciTableNumber": "string",
                          "topsProductCode": "string",
                          "unitedHealthPremiumDesignation": "string"
                        },
                        "procedureLevelBenefitSet": {
                          "procedureBenefits": [
                            {
                              "procedureBenefitMessages": [
                                "string"
                              ],
                              "procedureCode": "string",
                              "serviceBenefitLevel": [
                                {
                                  "accumulateToCoreOopIndicator": "string",
                                  "accumulateToOopIndicator": "string",
                                  "additionalServiceLimits": {
                                    "additionalServiceLimitsMessages": [
                                      "string"
                                    ],
                                    "authorizationRequired": "string",
                                    "deductiblePeriod": "string",
                                    "familyLimitationDollarLimitPerPeriod": "string",
                                    "familyLimitationDollarLimitRemaining": "string",
                                    "familyLimitationDollarLimitYtd": "string",
                                    "familyLimitationOccurrencesPerPeriod": "string",
                                    "familyLimitationOccurrencesYtd": "string",
                                    "familyLimitationsOccurrencesRemaining": "string",
                                    "individualLimitationDollarLimitRemaining": "string",
                                    "individualLimitationDollarLimitYtd": "string",
                                    "individualLimitationOccurrencesRemaining": "string",
                                    "individualLimitationOccurrencesYtd": "string",
                                    "limitationAdditionalCoveredDollarPerOccurence": "string",
                                    "limitationCoveredAmountCode": "string",
                                    "limitationCoveredDollarPerOccurrence": "string",
                                    "limitationDollarLimitPerPeriod": "string",
                                    "limitationOccurrencesPerPeriod": "string",
                                    "limitationPeriod": "string",
                                    "limitationTimeframe": "string",
                                    "limitationType": "string",
                                    "nonTherapyCombinedIndicator": "string",
                                    "occurrencesPerPeriod": [
                                      {
                                        "accumulatedVisits": "string",
                                        "calcCombined": {
                                          "code": [
                                            "string"
                                          ]
                                        },
                                        "combinedCategory": "string",
                                        "combinedIndicator": "string",
                                        "limitationOccurrencesPerPeriod": "string",
                                        "limitationTypeIndicator": "string",
                                        "mskAccumulatedVisits": "string"
                                      }
                                    ],
                                    "physicalMedicineSourceCode": "string",
                                    "predeductibleMaximumIndicator": "string"
                                  },
                                  "benefitStatus": "string",
                                  "copayCoreIndicator": "string",
                                  "copayCoreOopIndicator": "string",
                                  "copayOopIndicator": "string",
                                  "networkStatus": "string",
                                  "plnIndicator": "string",
                                  "providerTier": "string",
                                  "quantityQualifier": {
                                    "limitationType": "string",
                                    "limitationValue": "string"
                                  },
                                  "referralObtainedCoinsIndicator": "string",
                                  "referralObtainedCopayIndicator": "string",
                                  "referralObtainedFamilyDeductibleIndicator": "string",
                                  "referralObtainedIndividualDeductibleIndicator": "string",
                                  "referralObtainedRequiredIndicator": "string",
                                  "serviceLevelBenefitSetCode": "string",
                                  "serviceLevelCoinsurance": [
                                    {
                                      "coinsurance": "string",
                                      "coinsuranceBase": "string",
                                      "coinsuranceMaximum": "string",
                                      "coinsuranceMinimum": "string",
                                      "coinsuranceTier": {
                                        "tierId": "string",
                                        "timeframePeriodEnd": "string",
                                        "timeframePeriodStart": "string",
                                        "timeframeQualifier": "string"
                                      },
                                      "postDollarLimitCoinsurancePercentage": "string",
                                      "timeframeQualifier": "string"
                                    }
                                  ],
                                  "serviceLevelCopay": [
                                    {
                                      "copayAmount": "string",
                                      "copayIsWaived": "string",
                                      "copayTier": {
                                        "tierId": "string",
                                        "timeframePeriodEnd": "string",
                                        "timeframePeriodStart": "string",
                                        "timeframeQualifier": "string"
                                      },
                                      "timeframeQualifier": "string"
                                    }
                                  ],
                                  "serviceLevelDeductible": {
                                    "familyDeductible": "string",
                                    "familyDeductibleYtd": "string",
                                    "individualDeductible": "string",
                                    "individualDeductibleYtd": "string",
                                    "perOccurrenceDeductible": "string",
                                    "planDeductibleApplyIndicator": "string"
                                  },
                                  "serviceLevelLifetime": {
                                    "familyLifetimeMaximumAmount": "string",
                                    "familyLifetimeMaximumCount": "string",
                                    "familyLifetimeRemainingAmount": "string",
                                    "familyLifetimeRemainingCount": "string",
                                    "familyLifetimeToDateAmount": "string",
                                    "familyLifetimeToDateCount": "string",
                                    "individualLifetimeRemainingAmount": "string",
                                    "individualLifetimeRemainingCount": "string",
                                    "individualLifetimeToDateAmount": "string",
                                    "individualLifetimeToDateCount": "string",
                                    "lifetimeMaximumAmount": "string",
                                    "lifetimeMaximumCount": "string"
                                  },
                                  "tier": "string",
                                  "tierDescription": "string"
                                }
                              ]
                            }
                          ]
                        },
                        "serviceLevelBenefitSet": {
                          "mentalHealthBenefits": {
                            "psychiatricCalendarYearConfinementMax": "string",
                            "psychiatricCalendarYearMax": "string",
                            "psychiatricCalendarYearNonConfinementMax": "string",
                            "psychiatricLifetimeConfinementMaximum": "string",
                            "psychiatricLifetimeMax": "string",
                            "psychiatricLifetimeNonConfinementMaximum": "string"
                          },
                          "serviceBenefit": [
                            {
                              "causeCode": "string",
                              "hipaaServiceCategoryCode": "string",
                              "hipaaServiceTypeCode": "string",
                              "level": "string",
                              "placeOfService": "string",
                              "reverseTieredIndicator": "string",
                              "serviceBenefitLevel": [
                                {
                                  "accumulateToCoreOopIndicator": "string",
                                  "accumulateToOopIndicator": "string",
                                  "additionalServiceLimits": {
                                    "additionalServiceLimitsMessages": [
                                      "string"
                                    ],
                                    "authorizationRequired": "string",
                                    "deductiblePeriod": "string",
                                    "familyLimitationDollarLimitPerPeriod": "string",
                                    "familyLimitationDollarLimitRemaining": "string",
                                    "familyLimitationDollarLimitYtd": "string",
                                    "familyLimitationOccurrencesPerPeriod": "string",
                                    "familyLimitationOccurrencesYtd": "string",
                                    "familyLimitationsOccurrencesRemaining": "string",
                                    "individualLimitationDollarLimitRemaining": "string",
                                    "individualLimitationDollarLimitYtd": "string",
                                    "individualLimitationOccurrencesRemaining": "string",
                                    "individualLimitationOccurrencesYtd": "string",
                                    "limitationAdditionalCoveredDollarPerOccurence": "string",
                                    "limitationCoveredAmountCode": "string",
                                    "limitationCoveredDollarPerOccurrence": "string",
                                    "limitationDollarLimitPerPeriod": "string",
                                    "limitationOccurrencesPerPeriod": "string",
                                    "limitationPeriod": "string",
                                    "limitationTimeframe": "string",
                                    "limitationType": "string",
                                    "nonTherapyCombinedIndicator": "string",
                                    "occurrencesPerPeriod": [
                                      {
                                        "accumulatedVisits": "string",
                                        "calcCombined": {
                                          "code": [
                                            "string"
                                          ]
                                        },
                                        "combinedCategory": "string",
                                        "combinedIndicator": "string",
                                        "limitationOccurrencesPerPeriod": "string",
                                        "limitationTypeIndicator": "string",
                                        "mskAccumulatedVisits": "string"
                                      }
                                    ],
                                    "physicalMedicineSourceCode": "string",
                                    "predeductibleMaximumIndicator": "string"
                                  },
                                  "benefitStatus": "string",
                                  "copayCoreIndicator": "string",
                                  "copayCoreOopIndicator": "string",
                                  "copayOopIndicator": "string",
                                  "networkStatus": "string",
                                  "plnIndicator": "string",
                                  "providerTier": "string",
                                  "quantityQualifier": {
                                    "limitationType": "string",
                                    "limitationValue": "string"
                                  },
                                  "referralObtainedCoinsIndicator": "string",
                                  "referralObtainedCopayIndicator": "string",
                                  "referralObtainedFamilyDeductibleIndicator": "string",
                                  "referralObtainedIndividualDeductibleIndicator": "string",
                                  "referralObtainedRequiredIndicator": "string",
                                  "serviceLevelBenefitSetCode": "string",
                                  "serviceLevelCoinsurance": [
                                    {
                                      "coinsurance": "string",
                                      "coinsuranceBase": "string",
                                      "coinsuranceMaximum": "string",
                                      "coinsuranceMinimum": "string",
                                      "coinsuranceTier": {
                                        "tierId": "string",
                                        "timeframePeriodEnd": "string",
                                        "timeframePeriodStart": "string",
                                        "timeframeQualifier": "string"
                                      },
                                      "postDollarLimitCoinsurancePercentage": "string",
                                      "timeframeQualifier": "string"
                                    }
                                  ],
                                  "serviceLevelCopay": [
                                    {
                                      "copayAmount": "string",
                                      "copayIsWaived": "string",
                                      "copayTier": {
                                        "tierId": "string",
                                        "timeframePeriodEnd": "string",
                                        "timeframePeriodStart": "string",
                                        "timeframeQualifier": "string"
                                      },
                                      "timeframeQualifier": "string"
                                    }
                                  ],
                                  "serviceLevelDeductible": {
                                    "familyDeductible": "string",
                                    "familyDeductibleYtd": "string",
                                    "individualDeductible": "string",
                                    "individualDeductibleYtd": "string",
                                    "perOccurrenceDeductible": "string",
                                    "planDeductibleApplyIndicator": "string"
                                  },
                                  "serviceLevelLifetime": {
                                    "familyLifetimeMaximumAmount": "string",
                                    "familyLifetimeMaximumCount": "string",
                                    "familyLifetimeRemainingAmount": "string",
                                    "familyLifetimeRemainingCount": "string",
                                    "familyLifetimeToDateAmount": "string",
                                    "familyLifetimeToDateCount": "string",
                                    "individualLifetimeRemainingAmount": "string",
                                    "individualLifetimeRemainingCount": "string",
                                    "individualLifetimeToDateAmount": "string",
                                    "individualLifetimeToDateCount": "string",
                                    "lifetimeMaximumAmount": "string",
                                    "lifetimeMaximumCount": "string"
                                  },
                                  "tier": "string",
                                  "tierDescription": "string"
                                }
                              ],
                              "serviceBenefitMessages": [
                                "string"
                              ],
                              "serviceCodeDescription": "string",
                              "serviceCodeQualifier": "string",
                              "slotTableNumber": "string",
                              "softLimitIndicator": "string",
                              "tierOverflow": "string",
                              "topsServiceCode": "string",
                              "vendorName": "string"
                            }
                          ]
                        },
                        "timePeriodQualifier": "string",
                        "umDelegationFlag": "string"
                      }
                    ],
                    "languagePreference": {
                      "eligibleForLanguageAssistance": "string",
                      "verbalLanguagePreference": "string",
                      "writtenLanguagePreference": "string"
                    },
                    "individualIdentifier": "string",
                    "providerId": "string",
                    "benefitBundleOptionId": "string",
                    "networkId": "string",
                    "benefitPlanIds": [
                      "string"
                    ],
                    "networkIds": [
                      "string"
                    ],
                    "networkScheduleIds": [
                      "string"
                    ],
                    "benefitServiceArea": "string",
                    "planType": "string",
                    "enrolleeIdentifier": "string",
                    "subscriberIdentifier": "string",
                    "contractStartDate": "string",
                    "contractEndDate": "string",
                    "qualityProviderTierRuleId": "string",
                    "placeOfServiceDifferentialIndicator": true,
                    "bookOfBusinessTypeCode": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Transaction Id:ELXHIT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "string",
                  "faultCode": "string"
                }
              }
            }
          },
          "500": {
            "description": "Issue with Extended service:ELXHEE || AERCND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "message": "string",
                  "faultCode": "string"
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Eligibility Health Check",
        "description": "Eligibility Health Check",
        "operationId": "Hidden-eligibility-health-check",
        "responses": {
          "200": {
            "description": "",
            "content": {}
          }
        }
      }
    },
    "/api/memberSearch/v1.0": {
      "post": {
        "tags": [
          "Eligibility REST API for Eligibility Information"
        ],
        "summary": "Member search",
        "description": "The API accepts the following search option for member retrieval: MemberIDDateOfBirth | MemberIDLastNameDateOfBirth | MemberIDFirstNameDateOfBirthMemberIDName | MemberIDNameDateOfBirth | MemberIDNamePolicyNumberDateOfBirth | NameDateOfBirth. The searchOption is a required attribute to be passed with appropriate search type values. Search dates are not mandatory and service start date should not be older than 6 years and the service end date not over 1 year. When not provided the search dates are defaulted to current date, accepted date format: yyyy-MM-dd. Header attribute extended is by default false on making it true we will be getting extended data",
        "operationId": "Hidden-POST-memberSearch-v1-0",
        "parameters": [
          {
            "name": "extended",
            "in": "header",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "EISL-ClientId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EISL-Channel",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EISL-Partner",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EISL-ServiceCorrelationId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EISL-PayorId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EISL-PayorUserDefined1",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EISL-PayorUserDefined2",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EISL-PayorUserDefined3",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EISL-PayorUserDefined4",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EISL-PayorUserDefined5",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emrVendor",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emrHealthSystem",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emrAddress",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emrZipCode",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emrPracticeId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widget",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clientCorrelationId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "npi",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "encounterId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceCorrelationId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receivedClientId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UserType",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberSearchRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberSearchResponseArray"
                },
                "example": [
                  {
                    "subscriberId": "string",
                    "postalAddress": {
                      "city": "string",
                      "country": "string",
                      "state": "string",
                      "street1": "string",
                      "street2": "string",
                      "zip": "string",
                      "zip4": "string"
                    },
                    "memberInfo": {
                      "relationship": "string",
                      "firstName": "string",
                      "lastName": "string",
                      "middleName": "string",
                      "nameSuffix": "string",
                      "dob": "string",
                      "memberId": "string",
                      "genderCode": "string",
                      "members": [
                        {
                          "relationship": "string",
                          "firstName": "string",
                          "lastName": "string",
                          "middleName": "string",
                          "nameSuffix": "string",
                          "dob": "string",
                          "memberId": "string",
                          "genderCode": "string"
                        }
                      ]
                    },
                    "relationshipCode": "string",
                    "alternateId": "string",
                    "opiNtwkCode": "string",
                    "opiNtwkDesc": "string",
                    "ssn": "string",
                    "transactionId": "string",
                    "platform": "string",
                    "payerId": "string",
                    "policyNumber": "string",
                    "medicaidRecipientId": "string",
                    "stateOfIssueCode": "string",
                    "effectiveStartDate": "string",
                    "effectiveEndDate": "string",
                    "marketType": "string",
                    "cosmosDivision": "string",
                    "obligorId": "string",
                    "reportingCode": "string",
                    "sourceCode": "string",
                    "eligibilitySourceSystemCode": "string",
                    "claimSourceSystemCode": "string",
                    "dependentSequenceNumber": "string",
                    "productCode": "string",
                    "marketSite": "string",
                    "individualRelationshipCode": "string",
                    "sourceId": "string",
                    "xrefId": "string",
                    "xrefIdPartitionNumber": "string",
                    "benefitPlanId": "string",
                    "virtualVisits": true,
                    "planVariation": "string",
                    "productId": "string",
                    "cesGroupNumber": "string",
                    "governmentProgramCode": "string",
                    "legacyPanelNumber": "string",
                    "productType": "string",
                    "mbi": "string",
                    "coverageLevel": "string",
                    "sharedArrangement": "string",
                    "productServiceCode": "string",
                    "designatedVirtualClinicNetwork": "string",
                    "hsa": true,
                    "cdhp": true,
                    "lineOfBusiness": "string",
                    "cspLineOfBusiness": "string",
                    "policyStatus": "string",
                    "coverageType": "string",
                    "coverageTypeDesc": "string",
                    "consumerId": "string",
                    "primeDependentCode": "string",
                    "providerDiv": "string"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid request or missing mandatory attributes:ELMSBR || Invalid Date format:ELMSBR || Last Date of Service must be on or after the First Date of Service.:ELMSBR || Date of Birth must be on or before the Date of Service.:ELMSBR || Start Date must be within 6 years and End date should not exceed more than 1 year:ELMSBR || Multiple Members Found. Please refine Search:AESCMM || No Members Found.:AESCND || No Policy Found:AESCNP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
[...]
